@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-color: blueviolet;
}
.vo {
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pai {
    width: 800px;
    height: 800px;
    background-olor: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filho {
    width: 65%;
    background-coor: brown;
}
p {
    border-radius: 15px;
    background-color: black;
    background-image: linear-gradient(to bottom, rgb(255, 230, 0), rgb(255, 166, 0));
    
    text-align: center;
    margin-bottom: 20px;
    
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 0px hsla(272, 76%, 5%, 0.50);
    
    
}
a {
    color: hsl(54, 100%, 95%);
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: 2px 2px 0px hsl(54, 100%, 5%);
    text-decoration: none;
}
a:hover {
    color: blueviolet;
    

}
p:hover {
    background-image: linear-gradient(to bottom, hsl(54, 100%, 60%), hsl(39, 100%, 60%));
}
